<a href="https://colab.research.google.com/github/kilos11/Data_Science/blob/main/startup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiple Linear Regression on Startup Dataset

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
data = pd.read_csv('startups.csv')
X = data.iloc[ : , :-1].values
Y = data.iloc[ : ,  4 ].values

In [ ]:
data.shape

(50, 5)

In [ ]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [ ]:

# Create a LabelEncoder object
le = LabelEncoder()

# Encode the values in the 4th column of X using the LabelEncoder
X[:, 3] = le.fit_transform(X[:, 3])
# This line of code selects the 4th column of X and applies the fit_transform() method of the LabelEncoder to it
# The fit_transform() method encodes the values in the selected column and replaces them with the encoded values
# The encoded values are then assigned back to the 4th column of X

# Create a OneHotEncoder object with the categorical feature index specified as [3]
ohe = OneHotEncoder(categorical_features=[3])
# This line of code creates a OneHotEncoder object and specifies that the feature at index 3 (the 4th column) is a categorical feature

# Apply One-Hot Encoding to X
X = ohe.fit_transform(X).toarray()
# This line of code applies One-Hot Encoding to the entire X array using the fit_transform() method of the OneHotEncoder
# The fit_transform() method transforms the categorical feature at index 3 into multiple binary features
# The resulting encoded features are converted to a NumPy array using the toarray() method and assigned back to X

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [ ]:
X = X[: , 1:]

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [ ]:
reg = LinearRegression()
reg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = reg.predict(X_test)

In [ ]:
print(y_pred)

[103015.20159796 132582.27760816 132447.73845175  71976.09851259
 178537.48221054 116161.24230163  67851.69209676  98791.73374688
 113969.43533012 167921.0656955 ]